@use "../abstract" as *;

.nav {
	&__list {
		display: flex;
		font-size: 1.5rem;
		line-height: 2.8rem;
	}

	&__item {
		list-style: none;
		padding: 0 10px;
		cursor: pointer;
		@extend %transition;
		&:hover {
			color: $color-primary ;
		}
	}
}