@use "../abstract" as *;

.strategies {
	padding: 30px 0;
	&__title {
		margin: 0 0 14px;
	}

	&__desc {
		margin: 0 0 24px;
	}

	&__tags {
		margin-bottom: 31px;
	}

	&__content {
		>* {
			margin-bottom: 30px;
		}
	}
}

.strategy {
	@extend %block-shadowed;
	transition: all 0.3s ease-out 0s;
	cursor: pointer;
	&__title {
		transition: all 0.3s ease-out 0s;
		padding: 0 33px ;

	}

	&:hover {
		-webkit-transform: scale(1.02);
		-ms-ransform: scale(1.02);
		transform: scale(1.02);
		.strategy__title {
			color: $color-primary;
		}

	}
	&__tags {
		padding: 28px 33px 26px;
	}

}