.tools {
	&__wrapper {
		padding-bottom: 90px;
		background: url("./../assets/img/tools/tools-bg.png") no-repeat center bottom;
		background-size: 100%;
	}
	&__title {
		max-width: 462px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 70px;
	}

	&__content {
	}

	&__button {
		margin-top: 60px;
		text-align: center;
	}
}

.tool {
	&__icon {
		margin: 0 0 30px;
	}

	&__title {
		margin: 0 0 16px;
	}

	&__text {
	}
}