@use "../abstract" as *;

.footer {
	padding: 60px 70px;
	&__wrapper {
		display: flex;
		@include media-laptop {
			flex-direction: column;
		}
	}

	&__content {
		flex-grow: 1;
		margin-left: 152px;
		@include media-tablet {
			margin-left: 0;
			margin-top: 34px;
		}
		@include media-mobile-big {
			flex-direction: column;
			>* {
				margin-bottom: 20px;
			}
		}
	}

	&__nav {
		&__link {
			font-family: $font-family-secondary;
			@include font(1.6rem, 3.5rem, normal);
			@extend %transition;
			a {
				text-decoration: none;
				color: $color-text;
				&:hover {
					color: $color-primary;
				}
			}
		}
	}

	&__title {
		margin: 0 0 15px;
	}

	@include media-tablet {
		padding: 30px 46px;
	}
	@include media-mobile-big  {
		padding: 31px 0 0;
	}
}